#MatchesHeading {
    text-align: center;
}

#Matches{
    color:#f1f1f1;
    font-size: 1.1em;
    padding-top: 5vh;
    letter-spacing: 1px;
    font-family: 'Patua One', cursive;
    z-index:1000;
    height:100%;
    padding-bottom:50px;
    height: 100vh;
}


#MatchesTable {
    height:fit-content;
    font-size:0.9em;
    font-family: 'Varela Round', sans-serif;
    width:80%;
    margin-top: 5vh;
    margin-left: 10%;
    border-radius: 7px;
    background-color:rgba(255,255,255,0.05);    
    padding:15px;
}

.Match {
    display:grid;
    grid-template-columns: 10% 25% 30% 35%;
    text-align: left;
    padding-top:15px;
    padding-bottom:15px;
}

.FirstMatch{
    font-size:0.8em;
    background-color:rgba(255,255,255,0.025);
}

.SecondMatch{
    font-size:0.8em;   
}

.Winning{
    color:cyan
}

.MatchTeam1, .MatchTeam2 {
    padding-left: 3vw;
}

.MatchTeam1, .MatchScore1 {
    padding-bottom: 1vh;
}

.MatchScore1, .MatchScore2 {
    padding-left: 3vw;
}

.MatchInfo{
    padding-left:3vw;
}


@media only screen and (max-width: 600px) {
    .Match{
        display:grid;
        grid-template-columns: 50% 50%;
        text-align: left;
    }

    .MatchTeam1, .MatchTeam2 {
        padding-left: 5vw;
    }
    
    .MatchResult{
        display: none;
    }

    .MatchInfo {
        display: none;
    }   
}