@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=B612:wght@700&display=swap');
#Navbar{
    width:100vw;
    height:8vh;
    background-color:rgba(255,255,255,0.05);
    text-align: center;
    font-family: 'Allerta Stencil', cursive;
    color:cyan;
    font-size: calc(1em + 20vw) ;  
    vertical-align: middle;
    line-height: 8vh;    
    font-size: 1.3em;
    letter-spacing: 1px;
    
}

#HamburgerButton {
    background-color: transparent;
    border:1px solid transparent;
    border-radius: 3px;
    left:1vw;
    position: absolute;
    top:2vh;
    height:5vh;
}